<ion-header>

    <ion-navbar color="title-color">
        <ion-title class="head-title">Restaurants</ion-title>
    </ion-navbar>

</ion-header>


<ion-content class="card-background-page">

    <ion-searchbar placeholder="Search restaurants" (ionInput)="filterItems($event)"></ion-searchbar>

    <div *ngIf="searchedList">
        <ion-card *ngFor="let data of searchData" class="card-class" (click)="showDetails(data)">
            <img src="{{data.backgroundImageURL}}" (click)="showDetails(data)" />
            <div class="card-title">{{data.name}}</div>
            <div class="card-subtitle">{{data.description}}</div>
        </ion-card>

    </div>

    <div *ngIf="!searchedList">
        <ion-card *ngFor="let data of listResData" class="card-class" (click)="showDetails(data)">
            <img src="{{data.backgroundImageURL}}" (click)="showDetails(data)" />
            <div class="card-title">{{data.name}}</div>
            <div class="card-subtitle">{{data.description}}</div>
        </ion-card>
    </div>





</ion-content>